<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MyWebStore</display-name>
	<servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>mws.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessAddressSelectionServlet</display-name>
		<servlet-name>ProcessAddressSelectionServlet</servlet-name>
		<servlet-class>mws.servlet.ProcessAddressSelectionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessShippingSelectionServlet</display-name>
		<servlet-name>ProcessShippingSelectionServlet</servlet-name>
		<servlet-class>mws.servlet.ProcessShippingSelectionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessOrderPaymentServlet</display-name>
		<servlet-name>ProcessOrderPaymentServlet</servlet-name>
		<servlet-class>mws.servlet.ProcessOrderPaymentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessAddressDetailServlet</display-name>
		<servlet-name>ProcessAddressDetailServlet</servlet-name>
		<servlet-class>mws.servlet.ProcessAddressDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessCustomerServlet</display-name>
		<servlet-name>ProcessCustomerServlet</servlet-name>
		<servlet-class>mws.servlet.ProcessCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddProductToCartServlet</display-name>
		<servlet-name>AddProductToCartServlet</servlet-name>
		<servlet-class>mws.servlet.AddProductToCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProcessPaymentDetailServlet</display-name>
		<servlet-name>ProcessPaymentDetailServlet</servlet-name>
		<servlet-class>mws.servlet.ProcessPaymentDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessAddressSelectionServlet</servlet-name>
		<url-pattern>/processAddressSelection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessShippingSelectionServlet</servlet-name>
		<url-pattern>/processShippingSelection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessOrderPaymentServlet</servlet-name>
		<url-pattern>/processOrderPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessAddressDetailServlet</servlet-name>
		<url-pattern>/processAddressDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessCustomerServlet</servlet-name>
		<url-pattern>/processCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProductToCartServlet</servlet-name>
		<url-pattern>/addProductToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessPaymentDetailServlet</servlet-name>
		<url-pattern>/processPaymentDetail</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
